target/
build/
.gradle/
.idea/
opentelemetry-api/java-agent/TrackCustomException/src/main/resources/applicationinsights.log
opentelemetry-api/runtime-attach/CustomLoggerPerClass/src/main/resources/applicationinsights.log
*.iml
*/output.txt
