<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="io.opentelemetry.instrumentation.log4j.appender.v2_17">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="log4j2: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <OpenTelemetry name="OpenTelemetryAppender" captureMapMessageAttributes="true" captureExperimentalAttributes="true" captureContextDataAttributes="*"/>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="OpenTelemetryAppender" />
            <AppenderRef ref="ConsoleAppender" />
        </Root>
        <!-- using additivity false to avoid circularly sending the log exporter's logs back through
             the OpenTelemetryAppender and back to the log exporter -->
        <Logger name="com.azure.monitor.opentelemetry.exporter" level="DEBUG" additivity="false">
          <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="com.example.TrackLog4j2" level="ALL" additivity="false">
            <AppenderRef ref="OpenTelemetryAppender" />
        </Logger>
    </Loggers>
</Configuration>